<nav>
    <a href="/promedio">Promedio</a> |
    <a href="/primo">Primo</a> |
    <a href="/archivo">Guardar</a> |
    <a href="/fisica/faraday">Faraday</a>
    <h1>¿Qué otros templating engines existen para node?</h1>
    <p>Los más comunes son:</p>
    <p>Pug (antes llamado Jade): Ofrece una sintaxis minimalista sin HTML tradicional.</p>
    <p>Handlebars (hbs): Que está basado en templates lógicos simples.</p>
    <p>Mustache: Lógica mínima (logic-less templates).</p>
    <p>Nunjucks: Es similar a Jinja2 (Python).</p>
    <p>Liquid: Este es usado por Shopify.</p>
    <p>Twig: Está inspirado en PHP Twig.</p>
</nav>
<hr>