</body>
    <h2>¿Qué otras formas de autentificación existen?</h2>
    <p>
        Existen métodos como autenticación por tokens JWT, OAuth (login social), OTP y autenticación multifactor. 
        Cada uno de estos varía en cuanto a seguridad, complejidad y uso según el tipo de aplicación.
    </p>
</html>