body {
  font-family: "Helvetica", "Arial", sans-serif;
}

li {
    color: darkgray;
}

.tanque { /** clases se definen con un . al principio **/
    color: red;
}
#vi { /** id con # **/
    font-size: large;
}

.tanque:hover { /** pseudoclase **/
    font-size: large;
    color: black;
}