<%- include('includes/header') %>

<div class="container">
    <h2>Guardar texto</h2>

    <form action="/archivo" method="POST">
        <input name="texto">
        <button>Agregar</button>
    </form>

    <% if (lista && lista.length > 0) { %>
        <h3>Textos guardados:</h3>
        <ul>
            <% for(let elemento of lista) { %>
                <li><%= elemento %></li>
            <% } %>
        </ul>
    <% } %>

    <br>
    <a href="/">Volver</a>
</div>

<%- include('includes/footer') %>