<nav>
    <a href="/promedio">Promedio</a> |
    <a href="/primo">Primo</a> |
    <a href="/archivo">Guardar</a> |
    <a href="/fisica/faraday">Faraday</a>
   <h1>¿Qué beneficios encuentras en el estilo MVC?</h1>
    <p>Que haya una separación de responsabilidades, ya que divide la aplicación en Models, 
        Views y Controller, evitando que todo el código esté mezclado.</p>
    <p>Facilita de igual forma el mantenimiento del proyecto, 
        porque si se necesita cambiar la interfaz gráfica sólo se modifica la View (views) sin afectar la lógica.</p>
    <p>Mejora la organización del código, haciendo que el proyecto sea más claro y estructurado,
        creo que luciéndose especialmente cuando es un proyecto grande.</p>
    <p>Hace que el proyecto sea más escalable, ya que permite agregar nuevas funcionalidades sin romper la estructura ya existente.</p>

    <h1>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h1>
    <p>En lo personal yo creo que es fácil perderse al inicio, ya que se deben crear más carpetas y archivos desde el principio.</p>
    <p>Puede ser excesivo para aplicaciones pequeñas y sencillas también.</p>
    <p>Y también equiere mayor disciplina y organización por parte del desarrollador, 
    ya que si no se respeta la separación, el patrón pierde su propósito.</p>
</nav>
<hr>